html, body{
	font-size: 14;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}
body{
	background: #FFFBF9;
}
.container{
	width: 1680px;
	margin: 0 auto;
}
@media (m) {
	
}

/* fonts styles */
@font-face {
	font-family: AvantGarde Bk BT;
	src: url(./fonts/AvantGardeBookBT.ttf);
}
@font-face {
	font-family: AvantGarde Dm BT;
	src: url(./fonts/AvantGardeDemiBT.ttf);
}
@font-face {
	font-family: AvantGarde Dm Obl BT;
	src: url(./fonts/AvantGardeDemiObliqueBT.ttf);
}
@font-face {
	font-family: Avgardn;
	src: url(./fonts/AVGARDN.TTF);
}
@font-face {
	font-family: Avgardni;
	src: url(./fonts/AVGARDNI.ttf);
}

/* header-main styles */
.header-main .container{
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.header-main nav a{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
	text-decoration: none;
	margin-right: 50px;
}
.header-main nav a:last-child{
	margin: 0;
}
.header-main nav a:hover{
	text-decoration: underline;
}
.save-off{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 8px 0;
	text-align: center;
	align-items: center;
	background: #FE6F61;
	width: 100%;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* order-now styles */
.order-now .container{}
.star-rating{
	display: flex;
}
.star-rating li {
	display: block;
	font-size: 60px;
	font-family: Arial !important;
	position: relative;
}
.star-rating .star-f::before{
	content: "★";
}
.star-rating .star-h::before{
	content: "★";
}
.star-rating i{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	font-style: normal;
}
.star-rating i::before{
	content: "☆";
}
.star-rating i:after {
	content: "";
	background: #fff;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.star-rating .star-e::before{
	content: "☆";
}