/*----------RESER CSS----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
/*----------END RESER CSS----------*/

html, body{
	font-size: 14;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}
body{
	background: #FFFBF9;
}
.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media(min-width:768px){
	.container{
		width: 700px;
	}
}
@media(min-width:992px){
	.container{
		width: 900px;
	}
}
@media(min-width:1200px){
	.container{
		width: 1200px;
	}
}
@media(min-width:1440px){
	.container{
		width: 1200px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
/* fonts styles */
@font-face {
	font-family: AvantGarde Bk BT;
	src: url(./fonts/AvantGardeBookBT.ttf);
}
@font-face {
	font-family: AvantGarde Dm BT;
	src: url(./fonts/AvantGardeDemiBT.ttf);
}
@font-face {
	font-family: AvantGarde Dm Obl BT;
	src: url(./fonts/AvantGardeDemiObliqueBT.ttf);
}
@font-face {
	font-family: Avgardn;
	src: url(./fonts/AVGARDN.TTF);
}
@font-face {
	font-family: Avgardni;
	src: url(./fonts/AVGARDNI.ttf);
}

/* header-main styles */
.header-main .container{
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.header-main nav a{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
	text-decoration: none;
	margin-right: 50px;
}
.header-main nav a:last-child{
	margin: 0;
}
.header-main nav a:hover{
	text-decoration: underline;
}
.save-off{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 8px 0;
	text-align: center;
	align-items: center;
	background: #FE6F61;
	width: 100%;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* section order-now styles */
.order-now{
	padding: 83px 0 120px;
}
.order-now .container{
	display: flex;
}
.product-desc{
	width: 513px;
}
.title1 h1{
	font-family: 'AvantGarde Bk BT';
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #E2BDAF;
}
.title2 h2{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
}
.star-rating{
	display: flex;
}
.star-rating li {
	display: block;
	font-size: 25px;
	font-family: Arial !important;
	position: relative;
	color: #FE6F61;
	margin-right: 5px;
}
.star-rating .star-f::before{
	content: "★";
}
.star-rating .star-h::before{
	content: "★";
}
.star-rating i{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	font-style: normal;
}
.star-rating i::before{
	content: "☆";
}
.star-rating i:after {
	content: "";
	background: #fff;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.star-rating .star-e::before{
	content: "☆";
}
.box{
	display: flex;
	align-items: center;
	padding: 10px 0 20px;
	border-bottom: 1px solid #E5E5E5;
}
.box p{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #FE6F61;
	margin-left: 10px;
}
.order-now .desc{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
	margin: 21px 0 25px;
}
.buttons{
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	padding: 4px;
}
.buttons button{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	border: 0;
}
.buttons button:first-child{
	color: #FFFFFF;
	background: #E2BDAF;
	border-radius: 10px;
	padding: 6px 54px;
}
.buttons button:last-child{
	color: #E2BDAF;
	background: none;
	padding: 6px 63px;
}
.price-list{
	padding-top: 78px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}
.lists{
	margin-right: 21px;
}
.lists:last-child{
	margin: 0;
}
.ellipse{
	position: absolute;
	margin-top: -36px;
	margin-left: 43px;
	padding: 14px 0;
	background: #E2BDAF;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	font-family: 'AvantGarde Bk BT';
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
}
.ellipse h1{
	font-size: 20px;
	line-height: 24px;
}
.ellipse h2{
	font-size: 15px;
	line-height: 18px;
}
.col{
	background: #FFFBF9;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	justify-content: center;
	text-align: center;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #707070;
	width: 157px;
}
.lists .col h1 b{
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
}
.col-titles{
	padding: 57px 0 22px;
}
.col2 .col-titles{
	padding: 57px 0 42px;
}
.col .bg-change{
	padding: 20px 0;
	background: #E2BDAF;
	border-radius: 0px 0px 10px 10px;
}
.col .bg-change button{
	border: none;
	padding: 6px 19px;
	border-radius: 0px 0px 10px 10px;
	background: #FE6F61;
	border-radius: 10px;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.col .bg-change p{
	font-size: 10px;
	line-height: 12px;
	text-transform: lowercase;
	color: #FFFBF9;
}
.list2 .col .bg-change{
	padding: 20px 0 30px;
}
.bg-product{
	display: block;
	z-index: 1;
}
.bg-product .bg-ellipse1{
	position: absolute;
	margin-top: -40px;
	margin-left: 120px;
}
.bg-product .bg-ellipse2{
	position: absolute;
	margin-left: 150px;
}
.slides .bg-cream1{
	position: absolute;
	margin-left: 170px;
	margin-top: 45px;
}
.slides .cream1{
	position: absolute;
	margin-left: 207px;
	margin-top: 15px;
}
.slide2, .slide3{
	display: none;
}
.controls{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	position: absolute;
	margin-left: 516px;
	margin-top: 471px;
}
.controls button{
	border: 1px solid #FE6F61;
	width: 30px; height: 30px;
	border-radius: 50%;
	background: none;
}
.controls button img{
	position: absolute;
	margin-left: -33px;
}
.cream button:hover{
	background: #FE6F61;
}

/* section product styles */
.product{
	padding: 67px 0 117px;
	background: #E2BDAF;
}
.product .container{
	display: flex;
	align-items: center;
}
.product .save-product .icon{background: no-repeat;}
.product .save-product .icon1{
	background-image: url(./img/product/bg-save1.png); 
	width: 96.5px; height: 81.28px;
}
.product .save-product .icon2{
	background-image: url(./img/product/bg-save2.png);
	width: 80.28px; height: 99.08px;
}
.product .save-product .icon3{
	background-image: url(./img/product/bg-save3.png);
	width: 86px; height: 78.31px;
}
.product .save-product .icon4{
	background-image: url(./img/product/bg-save4.png);
	width: 79.01px; height: 83.28px;
}
.product .desc{
	font-family: 'AvantGarde Bk BT';
	margin-left: 110px; 
	margin-top: 70px;
}
.product .desc .main-desc h1{
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #FFFBF9;
	margin-bottom: 40px;
	width: 500px;
}
.product .desc .main-desc p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
	margin-bottom: 40px;
	width: 595px;
}
.product .massage{
	display: flex;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #FFFBF9;
}
.product .massage img{
	margin-right: 20px;
}
.product .desc button{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #FFFBF9;
	background: #FE6F61;
	border-radius: 10px;
	border: none;
	padding: 15px 38px;
	margin-top: 37px;
}
.save-product .icons .icon{
	position: absolute;
	width: auto; 
	height: auto;
}
.save-product .icons .icon1{
	margin: -425px 0 0 90px;
}
.save-product .icons .icon2{
	margin: -338px 0 0 -10px;
}
.save-product .icons .icon3{
	margin: -155px 0 0 398px;
}
.save-product .icons .icon4{
	margin: -73px 0 0 290px;
}
.save-product .icons .icon1 img{padding: 21px 28.5px 20.26px 28px;}
.save-product .icons .icon2 img{padding: 30px 22.79px 32.22px 18.79px;}
.save-product .icons .icon3 img{padding: 19px 24px 19.31px 22px;}
.save-product .icons .icon4 img{padding: 23.65px 20.87px 22.24px 23px;}
.save-product .icons .icon p{
	position: relative;
	width: 75px;
	text-align: center;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #707070;
}
.save-product .icons .icon1 p{margin: 10px 0 0 10px;}
.save-product .icons .icon2 p{margin-top: 8px;}
.save-product .icons .icon3 p{margin: 5px 0 0 8px;}
.save-product .icons .icon4 p{margin-top: 10px;}

/* section questions style */
.questions{
	font-family: 'AvantGarde Bk BT';
}
.questions h1{
	color: #E2BDAF;
}
.questions .container{
	padding: 117px 0 120px;
}
.questions .title h1{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 40px;
}
.questions .post{
	display: flex;
	justify-content: center;
}
.questions .post .text-left{
	text-align: right;
	width: 238px;
}
.questions .post .text-right{
	text-align: left;
	width: 238px;
}
.questions .post h1{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
	margin-bottom: 10px;
	margin-top: 20px;
}
.questions .post p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
	margin-bottom: 20px;
}
.text-left .desc:last-child p,
.text-right .desc:last-child p{
	margin-bottom: 0;
}
.text-left .desc:first-child h1,
.text-right .desc:first-child h1{
	margin-top: 0;
}
.questions .img-post{
	padding: 0 16px;
}
.text-left .desc,
.text-right .desc{
	border-bottom: 1px solid #E5E5E5;
}
.text-left .desc:last-child,
.text-right .desc:last-child{
	border-bottom: none;
}