/*----------RESER CSS----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
/*----------END RESER CSS----------*/

html, body{
	font-size: 14;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}
body{
	background: #FFFBF9;
	overflow-x: hidden;
}
img{
	display: block;
	max-width: 100%;
	height: auto;
}
.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 576px){
	.container {
    width: 540px;
	}
}
@media(min-width:768px){
	.container{
		width: 760px;
	}
}
@media(min-width:992px){
	.container{
		width: 990px;
	}
}
@media(min-width:1200px){
	.container{
		width: 1190px;
	}
}
/* fonts styles */
@font-face {
	font-family: AvantGarde Bk BT;
	src: url(./fonts/AvantGardeBookBT.ttf);
}
@font-face {
	font-family: AvantGarde Dm BT;
	src: url(./fonts/AvantGardeDemiBT.ttf);
}
@font-face {
	font-family: AvantGarde Dm Obl BT;
	src: url(./fonts/AvantGardeDemiObliqueBT.ttf);
}
@font-face {
	font-family: Avgardn;
	src: url(./fonts/AVGARDN.TTF);
}
@font-face {
	font-family: Avgardni;
	src: url(./fonts/AVGARDNI.ttf);
}

/* header-main styles */
@media (max-width: 767px) {
	.header-main{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		background: white;
		box-shadow:0 0 8px rgba(0, 0, 0, .4);
	}
	body{
		padding-top: 65px;
	}
}
.header-main .container{
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.header-main .logo img{
	width: 65px;
	display: block;
	max-width: 100%;
}
@media (min-width: 768px) {
	.header-main .logo img{
		width: 132.83px;
	}
}
.header-main nav{
	display: none;
	justify-content: flex-end;
}
@media (min-width: 768px) {
	.header-main nav{
		display: flex;
	}
}
.header-main nav.active{
	position: fixed;
	left: 0;
	top: 65px;
	width: 100%;
	height: calc(100vh - 65px);
	z-index: 3;
	display: flex;
	flex-direction: column;
	background: white;
	justify-content: flex-start;
}
.header-main nav.active a{
	margin: 0;
	max-width: 150px;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
}
.header-main nav a{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	color: #E2BDAF;
	text-decoration: none;
	margin-right: 50px;
	font-size: 16px;
	line-height: 20px;
	margin-right: 30px;
}
@media (min-width: 992px) {
	.header-main nav a{
		font-size: 20px;
		line-height: 24px;
	}
}
.header-main .menu-nav{
	display: block;
	border: 0;
	text-decoration: none;
	background: none;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
@media (min-width: 768px) {
	.header-main .menu-nav{
		display: none;
	}
}
.header-main nav a:last-child{
	margin: 0;
}
.header-main nav a:hover{
	text-decoration: underline;
}
.save-off{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 8px 0;
	text-align: center;
	align-items: center;
	background: #FE6F61;
	width: 100%;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* section order-now styles */
.order-now{
	padding: 15px 0;
}
@media(min-width:992px){
	.order-now .container{
		padding: 83px 0 120px;
	}
}
@media(min-width:992px){
	.order-now .container{
		display: flex;
		justify-content: space-between;
	}
}
.order-now .product-desc, .order-now .cream{
	width: 100%;
}
@media(min-width:992px){
	.order-now .product-desc, .order-now .cream{
		width: 50%;
	}
}
.order-now .title1 h1{
	font-family: 'AvantGarde Bk BT';
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #E2BDAF;
}
.order-now .title2 h2{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
}
.order-now .star-rating{
	display: flex;
}
.order-now .star-rating li{
	display: block;
	font-size: 25px;
	font-family: Arial !important;
	position: relative;
	color: #FE6F61;
	margin-right: 5px;
}
.order-now .star-rating li:hover{
	cursor: pointer;
}
.order-now .star-rating .star-f::before{
	content: "★";
}
.order-now .star-rating .star-h::before{
	content: "★";
}
.order-now .star-rating i{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	font-style: normal;
}
.order-now .star-rating i::before{
	content: "☆";
}
.order-now .star-rating i:after {
	content: "";
	background: #fff;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.order-now .star-rating .star-e::before{
	content: "☆";
}
.order-now .box{
	display: flex;
	align-items: center;
	padding: 10px 0 20px;
	border-bottom: 1px solid #E5E5E5;
}
.order-now .box p{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #FE6F61;
	margin-left: 10px;
}
.order-now .desc{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
	margin: 21px 0 25px;
}
.order-now .buttons{
	display: flex;
	width: 100%;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	padding: 4px;
}
.order-now .buttons button{
	width: 50%;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	border: 0;
}
.order-now .buttons button:first-child{
	color: #FFFFFF;
	background: #E2BDAF;
	border-radius: 10px;
	padding: 6px 0;
}
.order-now .buttons button:last-child{
	color: #E2BDAF;
	background: none;
	padding: 6px 0;
}
.order-now .buttons button:hover{
	cursor: pointer;
}
.order-now .price-list{
	padding-top: 78px;
	display: grid;
	grid-template-columns: repeat(1, 220px);
	justify-content: center;
	align-items: center;
	grid-column-gap: 21px;
}
@media (min-width: 992px) {
	.order-now .price-list{
		grid-template-columns: repeat(3, 1fr);
	}
}
.order-now .lists{
	position: relative;
	margin-bottom: 50px;
}
@media (min-width: 992px) {
	.order-now .lists{
		margin-bottom: 0;
	}
}
.order-now .lists:last-child{
	margin: 0;
}
.order-now .lists .ellipse{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 14px 0;
	background: #E2BDAF;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	font-family: 'AvantGarde Bk BT';
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	z-index: 2;
}
.order-now .lists .ellipse h1{
	font-size: 20px;
	line-height: 24px;
}
.order-now .lists .ellipse h2{
	font-size: 15px;
	line-height: 18px;
}
.order-now .lists .col{
	background: #FFFBF9;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	justify-content: center;
	text-align: center;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #707070;
}
.order-now .lists .col h1 b{
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
}
.order-now .col-titles{
	padding: 57px 0 22px;
}
.order-now .col2 .col-titles{
	padding: 57px 0 42px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.order-now .col2 .col-titles::after{
	content: 'Best value';
	position: absolute;
	background: #FE6F61;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 7px;
	line-height: 8px;
	text-align: center;
	color: #FFFBF9;
	padding: 1px 15px;
	top: 0;
	left: 0;
	transform: rotate(-45deg) translate(-29%);
	text-transform: uppercase;
}
.order-now .col .bg-change{
	padding: 20px 0;
	background: #E2BDAF;
	border-radius: 0px 0px 10px 10px;
}
.order-now .col .bg-change button{
	border: none;
	padding: 6px 19px;
	border-radius: 0px 0px 10px 10px;
	background: #FE6F61;
	border-radius: 10px;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.order-now .col .bg-change button:hover{
	cursor: pointer;
}
.order-now .col .bg-change p{
	font-size: 10px;
	line-height: 12px;
	text-transform: lowercase;
	color: #FFFBF9;
}
.order-now .list2 .col .bg-change{
	padding: 20px 0 30px;
}
.order-now .cream.tab-appear{
	display: block;
	margin-top: 12px;
	transform: translate(0, 0);
}
.order-now .cream.tab-appear .slider-controls{
	justify-content: center;
	padding: 20px 0 20px;
}
.order-now .cream.tab-appear .slider-img{
	top: 46%;
}
@media (min-width: 992px) {
	.order-now .cream.tab-appear{
		display: none;
	}
}
.order-now .cream.tab-desk{
	display: none;
}
@media (min-width: 992px) {
	.order-now .cream.tab-desk{
		display: block;
	}
}
.order-now .cream{
	position: relative;
	transform: translate(0, -30px);
}
.order-now .cream-bg{
	width: 100%;
	position: relative;
}
.order-now .cream-bg img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.order-now .cream-bg img:last-child{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 30px;
}
.order-now .slider-img{
	width: 375px;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.order-now .slider-controls{
	display: flex;
	justify-content: flex-end;
}
.order-now .slider-controls button{
	border: 1px solid #FE6F61;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: none;
	position: relative;
	margin-left: 30px;
}
.order-now .slider-controls button img{
	position: absolute;
	left: -50%; top: 50%;
}
.order-now .cream button:hover{
	background: #FE6F61;
	cursor: pointer;
}

/* section product styles */
.product{
	padding: 50px 0;
	background: #E2BDAF;
}
@media(min-width:992px){
	.product{
		padding: 67px 0 117px;
	}
}
.product .container{
	display: flex;
	align-items: center;
	flex-direction: column;
}
@media (min-width: 992px) {
	.product .container{
		flex-direction: row;
	}
}
.product .save-product{
	position: relative;
	margin: 0;
}
@media (min-width: 992px) {
	.product .save-product{
		width: 45%;
		margin-right: 95px;
	}
}
.product .save-cream img{
	position: relative;
	width: 100%;
	height: 100%;
}
.product .save-product .icon{
	position: absolute;
	background: no-repeat;
}
.product .save-product .icon1{
	background-image: url(./img/product/bg-save1.png); 
	width: 96.5px;
	height: 81.28px;
	top: 0;
	left: 0;
	transform: translate(72%, 43%);
}
.product .save-product .icon2{
	background-image: url(./img/product/bg-save2.png);
	width: 80.28px;
	height: 99.08px;
	top: 0;
	left: 0;
	transform: translate(-16%, 122%);
}
.product .save-product .icon3{
	background-image: url(./img/product/bg-save3.png);
	width: 86px;
	height: 78.31px;
	bottom: 0;
	right: 0;
	transform: translate(26%, -90%);
}
.product .save-product .icon4{
	background-image: url(./img/product/bg-save4.png);
	width: 84.01px;
	height: 87.28px;
	bottom: 0;
	right: 0;
	transform: translate(-95%, 24%);
}
.product .save-product .icon1 img{
	transform: translate(71%, 50%);
}
.product .save-product .icon2 img{
	transform: translate(50%, 71%);
}
.product .save-product .icon3 img{
	transform: translate(56%, 46%);
}
.product .save-product .icon4 img{
	transform: translate(64%, 57%);
}
.save-product .icons .icon p{
	bottom: 0;
	left: 0;
	transform: translate(16%, 130%);
	position: absolute;
	width: 75px;
	text-align: center;
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #707070;
}
.product .desc{
	width: 100%;
	font-family: 'AvantGarde Bk BT';
	margin-top: 100px;
}
@media (min-width: 992px) {
	.product .desc{
		width: 55%;
		margin: 0;
	}
}
.product .desc .main-desc h1{
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #FFFBF9;
	margin-bottom: 40px;
}
.product .desc .main-desc p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
	margin-bottom: 40px;
}
.product .massage{
	display: flex;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #FFFBF9;
}
.product .massage img{
	margin-right: 20px;
}
.product .desc button{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #FFFBF9;
	background: #FE6F61;
	border-radius: 10px;
	border: none;
	padding: 15px 38px;
	margin-top: 37px;
}
.product .desc button:hover{
	cursor: pointer;
}

/* section questions style */
.questions{
	padding: 50px 0;
	font-family: 'AvantGarde Bk BT';
}
@media(min-width:992px){
	.questions{
		padding: 117px 0 120px;
	}
}
.questions h1{
	color: #E2BDAF;
}
.questions .title h1{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 50px;
}
@media (min-width: 992px) {
	.questions .title h1{
		margin-bottom: 40px;
	}
}
.questions .post{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
@media (min-width: 992px) {
	.questions .post{
		flex-direction: row;
	}
}
.questions .post .text-left{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
@media (min-width: 992px) {
	.questions .post .text-left{
		margin: 0;
		width: calc(100% / 3);
		text-align: right;
	}
}
.questions .img-post img{
	width: 100%;
	padding: 0 16px;
}
.questions .post .text-right{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
@media (min-width: 992px) {
	.questions .post .text-right{
		margin: 0;
		width: calc(100% / 3);
		text-align: left;
	}
}
.questions .post h1{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
	margin-bottom: 10px;
	margin-top: 20px;
}
.questions .post p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
	margin-bottom: 20px;
}
.questions .post .text-left .desc:last-child p,
.questions .post .text-right .desc:last-child p{
	margin-bottom: 0;
}
.questions .post .text-left .desc:first-child h1,
.questions .post .text-right .desc:first-child h1{
	margin-top: 0;
}
.questions .post .text-left .desc,
.questions .post .text-right .desc{
	border-bottom: 1px solid #E5E5E5;
}
.questions .post .text-left .desc:last-child,
.questions .post .text-right .desc:last-child{
	border-bottom: none;
}

/* section ageing styles */
.ageing{
	padding: 50px 0;
	font-family: 'AvantGarde Bk BT';
	background: #E2BDAF;
}
@media(min-width:992px){
	.ageing{
		padding: 120px 0;
	}
}
.ageing h1{
	color: #FFFBF9;
}
.ageing .title{
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 40px;
}
.ageing .post-wrap .point{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point{
		flex-wrap: nowrap;
	}
}
.ageing .post-wrap .point:last-child{
	margin: 0;
}
.ageing .post-wrap .point .pic{
	flex: 1 50%;
	width: 50%;
	max-width: 50%;
	padding-right: 10px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .pic{
		width: 140px;
	}
}
.ageing .post-wrap .point .pic.pic-left{
	padding-right: 20px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .pic.pic-left{
		padding-right: 0;
	}
}
.ageing .post-wrap .point .pic.pic-left img{
	margin-left: auto;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .pic.pic-left{
		margin-left: auto;
	}
}
.ageing .post-wrap .point .pic.pic-right{
	padding-left: 20px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .pic.pic-right{
		padding-left: 0;
	}
}
.ageing .post-wrap .point .pic.pic-right img{
	margin-right: auto;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .pic.pic-right{
		margin-right: auto;
	}
}
.ageing .post-wrap .point .number.right{
	text-align: left;
	padding-left: 30px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .number.right{
		padding-left: 0;
		margin-left: 10px;
	}
}
.ageing .post-wrap .point .number.left{
	text-align: right;
	padding-right: 30px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .number.left{
		padding-right: 0;
		margin-right: 10px;
	}
}
.ageing .post-wrap .point .number{
	width: 50%;
	font-weight: 700;
	font-size: 100px;
	line-height: 119px;
	color: #fffbf9;
}
@media (min-width: 768px) {
	.ageing .post-wrap .point .number{
		width: 135px;
		padding: 0;
		order: 0;
	}
}
.ageing .post-wrap .desc{
	flex: 1 100%;
	max-width: 100%;
	order: 3;
	padding-top: 20px;
}
@media (min-width: 768px) {
	.ageing .post-wrap .desc{
		flex: 1 calc(50% - 137.5px);
		max-width: calc(50% - 137.5px);
	}
}
.ageing .point .right{
	text-align: center;
}
@media (min-width: 768px) {
	.ageing .point .right{
		text-align: left;
	}
}
.ageing .point .left{
	text-align: center;
	order: 0;
}
@media (min-width: 768px) {
	.ageing .point .left{
		text-align: right;
		order: -1;
	}
}
.ageing .point .desc h1{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
}
.ageing .post-wrap .desc p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
}

/* section results styles */
.results{
	padding: 50px 0;
	position: relative;
}
@media(min-width:992px){
	.results{
		padding: 120px 0 106px;
	}
}
.results .bg-ill img{
	z-index: 1;
	position: absolute;
	width: 100%;
	max-width: 670px;
	max-height: 950px;
	height: 100%;
	left: 0;
	bottom: 0;
}
.results .bg-ill.tab-desk img{
	display: none;
}
@media (min-width: 768px) {
	.results .bg-ill.tab-desk img{
		display: block;
		left: 40%;
	}
}
@media (min-width: 992px) {
	.results .bg-ill.tab-desk img{
		left: 50%;
	}
}
@media (min-width: 1200px) {
	.results .bg-ill.tab-desk img{
		left: 60%;
	}
}
.results .bg-ill.tab-appear img{
	display: block;
	left: 0;
	bottom: 0;
}
@media (min-width: 768px) {
	.results .bg-ill.tab-appear img{
		display: none;
	}
}
.results .post{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
}
@media (min-width: 768px) {
	.results .post{
		flex-direction: row;
	}
}
.results .descr{
	width: 100%;
	margin-bottom: 100px;
}
@media (min-width: 768px) {
	.results .descr{
		width: 50%;
		margin-bottom: 0;
		margin-right: 40px;
	}
}
@media (min-width: 992px) {
	.results .descr{
		width: 177%;
	}
}
.results .descr{
	font-family: 'AvantGarde Bk BT';
}
.results .descr h1{
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #E2BDAF;
	margin-bottom: 40px;
}
.results .descr p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #707070;
}
.results .descr-img{
	z-index: 1;
	width: 100%;
	position: relative;
}

/* section ingredients styles */
.ingredients{
	padding: 80px 0 50px;
	background: #E2BDAF;
	font-family: 'AvantGarde Bk BT';
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}
@media(min-width:992px){
	.ingredients{
		padding: 120px 0 80px;
	}
}
.ingredients .slider-wrap{
	position: relative;
}
.ingredients .slider-wrap::before{
	content: '';
	background: #d6bea5;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 115%;
	height: 250%;
	border-radius: 50%;
	transform: translate(-50%,-30%);
}
.ingredients h1{
	color: #FFFBF9;
}
.ingredients .title{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 40px;
}
.ingredients .post{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.ingredients .post .block h1{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-top: 40px;
}
.ingredients .post .block img{
	transform: rotate(0);
}
.ingredients .post .block1,
.ingredients .post .block5{
	margin-top: 300px;
}
.ingredients .post .block2,
.ingredients .post .block4{
	margin-top: 100px;
}
.ingredients .post .block1 h1{transform: rotate(-40deg);}
.ingredients .post .block2 h1{transform: rotate(-30deg);}
.ingredients .post .block3 h1{transform: rotate(0deg);}
.ingredients .post .block4 h1{transform: rotate(30deg);}
.ingredients .post .block5 h1{transform: rotate(40deg);}
.ingredients .des-on p{
	position: absolute;
	top: 81%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	max-width: 346px;
	color: #707070;
}
.ingredients .buttons{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ingredients .buttons button{
	border: none;
	background: none;
}
.ingredients .buttons button:hover{
	cursor: pointer;
}
.ingredients .buttons button:first-child{
	margin-right: 20px;
}

/* section customer styles */
.customer{
	padding: 50px 0;
	font-family: 'AvantGarde Bk BT';
}
@media(min-width:992px){
	.customer{
		padding: 120px 0;
	}
}
.customer .container{
	display: flex;
	flex-direction: column;
}
@media (min-width: 1200px) {
	.customer .container{
		flex-direction: row;
	}
}
.customer .post-img{
	width: 60%;
	margin: 0 auto 40px;
}
@media (min-width: 1200px) {
	.customer .post-img{
		width: 50%;
		margin: 0;
		margin-right: 40px;
	}
}
.customer .post-img img{
	width: 100%;
}
.customer .post{
	width: 100%;
	position: relative;
}
@media (min-width: 1200px) {
	.customer .post{
		width: 50%;
	}
}
.customer .post .title{
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	color: #E2BDAF;
	margin-bottom: 35px;
	text-align: center;
}
@media (min-width: 1200px) {
	.customer .post .title{
		text-align: left;
	}
}
.customer .blocks{
	color: #707070;
}
.customer .block-main,
.customer .block{
	width: 100%;
	border: 1px solid #C4C4C4;
	border-radius: 10px;
}
.customer .block-main{
	background: rgba(226, 189, 175, 0.2);
	margin-bottom: 35px;
	padding: 20px;
}
.customer .col{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.customer .col:last-child{
	margin-bottom: 0;
}
.customer .col p{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #707070;
}
.customer .box{
	display: flex;
	align-items: center;
}
.customer .box p{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #9F6B58;
	margin-left: 10px;
}
.customer .star-rating{
	display: flex;
}
.customer .star-rating li{
	display: block;
	font-size: 25px;
	font-family: Arial !important;
	position: relative;
	margin-right: 5px;
}
.customer .star-rating li:hover{
	cursor: pointer;
}
.customer .block .star-rating li{color: #FE6F61;}
.customer .block-main .star-rating li{color: #9F6B58;}
.customer .star-rating .star-f::before{
	content: "★";
}
.customer .star-rating .star-h::before{
	content: "★";
}
.customer .star-rating i{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	font-style: normal;
}
.customer .star-rating i::before{
	content: "☆";
}
.customer .star-rating i:after {
	content: "";
	background: #fff;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.customer .star-rating .star-e::before{
	content: "☆";
}
.customer .block{
	margin-bottom: 20px;
	padding: 15px 20px;
}
.customer .block:last-child{
	margin-bottom: 35px;
}
.customer .block .col{
	display: flex;
}
.customer .block .col h1{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}
.customer .block p{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	margin: 20px 0;
}
.customer .block h2{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}
.customer .button-wrap button{
	display: block;
	margin: 0 auto;
	background: #FE6F61;
	border-radius: 10px;
	border: 0;
	padding: 15px 40px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #FFFBF9;
}
.customer button:hover{
	cursor: pointer;
}

/* section videos styles */
.videos{
	padding: 50px 0;
	background: #E2BDAF;
	font-family: 'AvantGarde Bk BT';
	color: #FFFBF9;
	position: relative;
}
@media(min-width:992px){
	.videos{
		padding: 120px 0;
	}
}
.videos .bg-pic1 img{
	position: absolute;
	top: 1%;
	left: 0;
}
@media (min-width: 1600px) {
	.videos .bg-pic1 img{
		left: 5%;
	}
}
@media (min-width: 1700px) {
	.videos .bg-pic1 img{
		left: 10%;
	}
}
@media (min-width: 1800px) {
	.videos .bg-pic1 img{
		left: 10%;
	}
}
.videos .bg-pic2 img{
	display: none;
	position: absolute;
	right: 0;
	transform: translate(0, 25%);
}
@media (min-width: 768px) {
	.videos .bg-pic2 img{
		display: block;
	}
}
.bg-pic2--mob{
	position: absolute;
	right: 0;
	transform: translate(0, 246%);
}
@media (min-width: 768px) {
	.videos .bg-pic2--mob img{
		display: none;
	}
}
.videos .bg-pic3 img{
	position: absolute;
	bottom: 0;
	left: 0;
}
.videos .title{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 40px;
}
.videos .wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
@media (min-width: 768px) {
	.videos .wrapper{
		flex-wrap: wrap;
		flex-direction: row;
	}
}
.videos .col{
	margin-bottom: 30px;
	background-color: #9F6B58;
	border-radius: 10px;
	position: relative;
	padding: 20px 20px 16px 20px;
	box-sizing: border-box;
	max-width: 250px;
	width: 100%;
	max-height: 380px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.videos .col{
		margin-right: 20px;
		margin-left: 20px;
	}
}
.videos .col button{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 0;
	background: none;
}
.videos .col button img{
	width: 75px;
	height: 55px;
}
.videos .col button:hover{
	cursor: pointer;
}
.videos .col p{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	margin-top: 16px;
}
.videos .col .video-img img{
	width: 100%;
	height: auto;
}

/* section complex-cream styles */
.complex-cream{
	padding: 50px 0;
	font-family: 'AvantGarde Bk BT';
	text-align: center;
	display: block;
}
@media(min-width:992px){
	.complex-cream{
		padding: 120px 0;
	}
}
.complex-cream .wrapper{
	width: 100%;
}
.complex-cream h1{
	font-weight: 600;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #E2BDAF;
}
@media (min-width: 576px) {
	.complex-cream h1{
		font-size: 30px;
		line-height: 36px;
	}
}
.complex-cream h2{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #E2BDAF;
}
.complex-cream .box{
	display: flex;
	align-items: center;
	justify-content: center;
}
.complex-cream .box p{
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #FE6F61;
	padding: 0;
	margin: 0 0 0 10px;
}
.complex-cream .star-rating{
	display: flex;
}
.complex-cream .star-rating li{
	display: block;
	font-size: 25px;
	font-family: Arial !important;
	position: relative;
	margin-right: 5px;
	color: #FE6F61;
}
.complex-cream .star-rating li:hover{
	cursor: pointer;
}
.complex-cream .star-rating .star-f::before{
	content: "★";
}
.complex-cream .star-rating .star-h::before{
	content: "★";
}
.complex-cream .star-rating i{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	font-style: normal;
}
.complex-cream .star-rating i::before{
	content: "☆";
}
.complex-cream .star-rating i:after {
	content: "";
	background: #fff;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.complex-cream .star-rating .star-e::before{
	content: "☆";
}
.complex-cream .text h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	color: #707070;
	margin-top: 40px;
}
@media (min-width: 992px) {
	.complex-cream .text h3{
		font-size: 20px;
	}
}
.complex-cream .text{
	max-width: 513px;
	margin: 0 auto;
}
.complex-cream .text p{
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #707070;
	margin: 10px 0 65px;
}
.complex-cream button{
	background: #FE6F61;
	border-radius: 10px;
	border: 0;
	padding: 15px 46px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #FFFBF9;
	margin: 0 auto;
}
.complex-cream button:hover{
	cursor: pointer;
}
.complex-cream img{
	display: flex;
	display: block;
	margin-left: auto;
	margin-right: auto
}
.complex-cream .wrap2{
	margin-top: 30px;
}
.complex-cream .wrap1{
	margin-top: -30px;
}

/* footer styles */
.footer-main{
	background: #FE6F61;
}
.footer-main .wrapper{
	padding: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
@media (min-width: 768px) {
	.footer-main .wrapper{
		flex-direction: row;
		justify-content: space-around;
	}
}
.footer-main .logo img{
	width: 132.83px;
	height: auto;
	margin-bottom: 20px;
}
@media (min-width: 992px) {
	.footer-main .logo img{
		margin-bottom: 0;
	}
}
.footer-main nav{
	display: flex;
	justify-content: space-between;
}
@media (max-width: 768px) {
	.footer-main nav{
		flex-direction: column;
		text-align: center;
	}
}
.footer-main nav a{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFBF9;
	text-decoration: none;
	margin-bottom: 5px;
}
@media (min-width: 768px) {
	.footer-main nav a{
		margin: 0;
		margin-right: 10px;
	}
}
@media (min-width: 992px) {
	.footer-main nav a{
		margin-right: 40px;
	}
}
.footer-main nav a:last-child{
	margin: 0;
}
.footer-main nav a:hover{
	text-decoration: underline;
}
.footer{
	padding: 14px 0;
	text-align: center;
}
.footer p{
	font-family: 'AvantGarde Bk BT';
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	color: #707070;
	text-decoration: none;
}